*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.hprof
/captures
.externalNativeBuild
/cxx/
.cxx/
.idea/
.vscode/
build/
.gradle/
gradle/
.DS_Store
.env
